*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

#mobile-main{
  display: none;
}

.header-position{
  position: fixed;
  width: 100vw;
  background-color: #fff;
}

.button-content a{
  text-decoration: none;
  background: purple;
  padding: 12px;
  color: pink;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin: 0 10px;
  transition: 1s;
}

.button-content a:hover{
  background: pink;
  color: purple;
}

.content-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.text-center{
  text-align: center;
}

.navbar-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.navbar-content img{
  height: 70px;
  width: auto;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

.section{
  height: 100vh;
}

.bg-black{
  background-color: #000000;
  color: #fff;
  transition: 1s;
}

.bg-image{
  background-image: url('../assets/img/leia.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.top-button{
  position: fixed;
  left: 15px;
  bottom: 15px;
  background: yellow;
  padding: 12px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  background: #13138e;
  color: #fff;
  text-align: center;
  padding: 30px
}

@media screen and (max-width: 767px) {
  .bg-black{
    background-color: red;
    color: #fff;
  }
  .content-flex{
    flex-direction: column-reverse;
  }
  #desktop-main{
    display: none;
  }
  #mobile-main{
    display: grid;
    margin-top: -100px;
  }

  #menuToggle{
    display: block;
    position: relative;
    top: 50px;
    right: 10px;
    z-index: 1;
    user-select: none;
    -webkit-user-select: none;
  }

  #menuToggle a{
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
  }

  #menuToggle a:hover{
    color: red;
  }

  #menuToggle input {
    display: block;
    width: 45px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
    -webkit-touch-callout: none; /* regra para o safari */
  }

  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(105, 105, 105);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
  }
  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%
  }

  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: purple;
  }

  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2)
  }

  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px)
  }

  #mobileMainContent{
    position: absolute;
    width: 300px;
    height: 100vh;
    margin: -100px 0 0 -50px;
    padding: 25px;
    padding-top: 100px;
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased; /* safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: 0.5s;
  }

  #mobileMainContent li{
    padding: 2px 0;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  .some-bode{
    mix-blend-mode: multiply;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .bg-black{
    background-color: purple;
    color: #fff;
  }
}